<% if logged_in? %>
  <h2>キーワード検索</h2>
  <%= form_with url: searches_show_path, method: :get, local: :true do |f| %>
    <% (0..(@term_list.keys.length - 1)).each do |i| %>
      <%= f.select @term_list.keys[i], @term_list[@term_list.keys[i]] %>
    <% end %>
    <br>
    <%= f.text_field :keyword ,:placeholder => "キーワード", :class => "m-2"%>
    <%= f.submit '検索' %>
  <% end %>
  
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Tabesuta</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>