<div class="searches-head">
  <h2>検索結果</h2>
  <p>
    <span>検索ヒット数:<%= results_available %></span>
    <% if results_available - results_start  >= 9 %>
      <span>表示数:<%= results_start %> ~ <%= results_start + 10%>件</span> <br>
    <% else %>
      <span>表示数:<%= results_start %> ~ <%= results_available %>件</span><br>
    <% end %>
  </p>
</div>
<div class="searches-body">
  <%= paginate shops%>
  <ul class="list-unstyled">
    <% shops.each do |shop| %>
      <li class="media mb-3">
        <picture>
          <source media="(min-width: 1280px)" srcset=<%= shop["photo"]["pc"]["l"] %>>
          <source media="(min-width: 640px)" srcset=<%= shop["photo"]["pc"]["m"] %>>
          <img src=<%= shop["photo"]["mobile"]["l"] %> class="img-thumbnail" alt=<%= shop["name"] %>>
        </picture>
        <div class="media-body ml-4">
          <h3><a href=<%= shop["urls"]["pc"] %> target="_blank"> <%= shop["name"] %> </a></h3>
          <text><%= shop["genre"]["name"] %>  <%= shop["genre"]["catch"] %></text><br>
          <text><%= shop["catch"] %></text>
          <ul class="list-group">
            <li class="list-group-item"k>
              <i class="fas fa-map-marked-alt text-danger"></i>
              <text class="small"><%= truncate(shop["access"], length: 40) %></text>
            </li>
            <li class="list-group-item">
              <i class="far fa-clock text-danger"></i>
              <text class="small"><%= truncate(shop["open"], length: 45) %></text>
            </li>
            <li class="list-group-item">
              <i class="fas fa-yen-sign text-danger"></i>
              <text class="small"><%= truncate(shop["budget"]["name"], length: 40) %></text>
            </li>
          </ul>
          
          <div class="d-flex flex-row">
            <div class=" p-2">
              <a class="btn btn-danger" href=<%= shop["urls"]["pc"] %> target="_blank">HotPapper</a>
            </div>
            <div class="dropdown p-2">
              <button type="budget" class="btn dropdown-toggle" style="background-color:#CF2E92" data-toggle="dropdown">
                <i class="fab fa-instagram text-white"></i>
                <text class="text-white">インスタ</text>
              </button>
              <div class="dropdown-menu">
                <% shop["name"].split.each do |name| %>
                  <a class="dropdown-item" href=<%= search_tags_URI(name) %> target="_blank"><%= name %></a>
                <% end %>
              </div>
            </div>
            <div class="p-2">
              <a class="btn" href="#">お気に入りボタン</a>
            </div>
            
          </div>
          
          
        </div>
      </li>
    <% end %>
    <%= paginate shops%>
  </ul>
</div>