<div class="searches-head">
  <h2>検索結果</h2>
  <p>
    <span>検索ヒット数:<%= results_available %></span>
    <% if results_available - results_start  >= 9 %>
      <span>表示数:<%= results_start %> ~ <%= results_start + 9%>件</span> <br>
    <% else %>
      <span>表示数:<%= results_start %> ~ <%= results_available %>件</span><br>
    <% end %>
  </p>
</div>
<div class="searches-body">
  <div class="d-sm-none">
    <%= paginate searches,  window: 1%>
  </div>
  <div class="d-none d-sm-block">
    <%= paginate searches%>
  </div>
  <ul class="list-unstyled">
    <% searches.each do |search| %>
      <li class="media my-4 p-2 row border rounded">
        <div class="col-md-4 text-center">
          <picture>
            <source media="(min-width: 1280px)" srcset=<%= search["photo"]["pc"]["l"] %>>
            <source media="(min-width: 640px)" srcset=<%= search["photo"]["pc"]["m"] %>>
            <img src=<%= search["photo"]["mobile"]["l"] %> class="img-thumbnail" alt=<%= search["name"] %>>
          </picture>          
        </div>
        <div class="media-body col-md-8">
          <h3><a href=<%= search["urls"]["pc"] %> target="_blank"> <%= search["name"] %> </a></h3>
          <text><%= search["genre"]["name"] %>  <%= search["genre"]["catch"] %></text><br>
          <text><%= search["catch"] %></text>
          <ul class="list-group">
            <li class="list-group-item"k>
              <i class="fas fa-map-marked-alt text-danger"></i>
              <text class="small"><%= truncate(search["access"], length: 40) %></text>
            </li>
            <li class="list-group-item">
              <i class="far fa-clock text-danger"></i>
              <text class="small"><%= truncate(search["open"], length: 45) %></text>
            </li>
            <li class="list-group-item">
              <i class="fas fa-yen-sign text-danger"></i>
              <text class="small"><%= truncate(search["budget"]["name"], length: 40) %></text>
            </li>
          </ul>
          <div class="d-flex flex-row justify-content-around row">
            <div class="py-2 col-xs-12">
              <a class="btn btn-danger" href=<%= search["urls"]["pc"] %> target="_blank">HotPapper</a>
            </div>
            <div class="dropdown py-2 col-xs-12">
              <button type="budget" class="btn dropdown-toggle" style="background-color:#CF2E92" data-toggle="dropdown">
                <i class="fab fa-instagram text-white"></i>
                <text class="text-white">インスタ</text>
              </button>
              <div class="dropdown-menu">
                <% search_tags_split(search["name"]).each do |name| %>
                  <a class="dropdown-item" href=<%= search_tags_URI(name) %> target="_blank"><%= name %></a>
                <% end %>
              </div>
            </div>
            <div class="py-2 col-x-12" id="likes_buttons_<%= search["id"]%>">
              <%= render 'shops/fav_button.html.erb', hot_id: search["id"] %>
            </div>
            
          </div>
          
          
        </div>
      </li>
    <% end %>
    <div class="d-sm-none">
      <%= paginate searches,  window: 1%>
    </div>
    <div class="d-none d-sm-block">
      <%= paginate searches%>
    </div>
    
  </ul>
</div>