
<h2>キーワード検索</h2>
<span>現在はサービスエリア「東京」で検索をかけている。</span>
<%= form_with url: searches_show_path, method: :get, local: :true do |f| %>
  <%= f.label :keyword, 'キーワード' %>
  <%= f.text_field :keyword %>
  <%= f.submit '検索' %>
<% end %>

<% if @error %>
  message:<%= @error %>
  <% elsif @error.nil? && @searches.empty? %>
    message:検索結果に合うお店が見つかりませんでした。
  <% else %>
  <%= render 'searches/search', searches: @searches, results_available: @results_available, results_start: @results_start %>
<% end %>
